<ion-header>
    <ion-toolbar>
        <ion-title>
            Contacts
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let contact of people" lines="full" detail (click)="openDetailPage(contact)">
            <ion-avatar slot="start">
                <ion-img [src]="contact.picture.thumbnail"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>
                    {{contact.name.title | titlecase}} {{contact.name.first | titlecase}} {{contact.name.last |
                    titlecase}}
                </h2>
                <h3>{{contact.cell}}</h3>
                <p>{{contact.email}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
